<footer class="footer" role="contentinfo">
  <p class="footer-copy">
    2021 <i class="uil uil-copyright"></i> Erick Haendel
  </p>
  <nav class="footer-social">
    <a href="mailto:erickhaendel@gmail.com" target="_blank" title="E-mail">
      <i class="uil uil-envelope"></i>
    </a>
    <a class="twitter" href="https://twitter.com/erickhaendell" title="Twitter">
      <span>Tw</span>
      <i class="uil uil-twitter"></i>
    </a>
    <a class="instagram" href="https://instagram.com/erickhaendel" title="Instagram">
      <span>Ig</span>
      <i class="uil uil-instagram"></i>
    </a>
    <a href="https://github.com/erickhaendel" title="GitHub">
      <span>Gh</span>
      <i class="uil uil-github"></i>
    </a>
   
    <a class="linkedin" href="https://linkedin.com/in/erickhaendel" title="LinkedIn">
      <span>In</span>
      <i class="uil uil-linkedin"></i>
    </a>
  </nav>
</footer>
